#cards {
  display: flex;
  flex-wrap: wrap;
  /* 寬度和標頭一致 */
  width: 85%;
  /* 新增：置中 */
  margin: 0 auto;

}

.card {
  /* 卡片在牌桌上的排版 */
  /* flex-basis, flex-grow, flex-shrink */
  flex: 7% 1 1;
  /* 每個 item 分配容器寬度 */
  height: 8vw;
  /* 依視窗的寬度等比例變化 */
  border: 2px solid #e0e0e0;
  margin: 2px;
  box-sizing: border-box;
  /* 設定 box-sizing*/

  /* 卡片內部元件排版 */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/* 調整卡片花色 */
.card img {
  max-width: 30%;
  align-self: center;
}

/* 調整卡片數字 */
.card p {
  margin: 3px;
  font-size: 10px;
}

/* 翻轉卡片下方數字 */
.card p:last-child {
  transform: rotate(180deg);
}

/* 卡片背面 */
.back {
  background: url('https://assets-lighthouse.alphacamp.co/uploads/image/file/9222/ExportedContentImage_00.png');
  background-size: cover;
}

/* 配對成功時 */
.paired {
  background-color: #dae0e3;
}

/* header */
#header {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  align-items: flex-end;
  width: 85%;
}

#header .title {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

#header .title img {
  max-width: 3em;
}

#header .title h2 {
  padding-left: 0.5em;
}

#header .score {
  margin: 0;
  color: #6c90ac;
}

#header .tried {
  margin-top: 0;
}

/* animation */
.wrong {
  /* 關鍵影格名字 */
  animation-name: wrongAnimation; 
  /* 持續時間 */
  animation-duration: 0.2s;
  /* 重複次數 */
  animation-iteration-count: 5;
}

/* 關鍵影格 */
@keyframes wrongAnimation {
  to {
    border: 2px solid #ffd54f;
  }
}

/* game finished */
.completed {
  position: absolute;
  z-index: 999;
  top: 33vh;
  background-color: RGBA(232, 246, 254, 0.8);
  width: 100vw;
  padding: 50px 0;
}

.completed>p {
  font-size: 1.5em;
  color: black;
  text-align: center;
  margin: 0;
}

.completed>p:first-child {
  font-size: 3em;
  font-weight: 700;
  color: #758d9a;
}